<style type="text/css">
    .corner {
        background-color: #ccc;
        overflow: hidden;
        position: fixed;
        right: 1em;
        top: 1em;
        -moz-box-shadow: 0 0 1em #888;
        -webkit-box-shadow: 0 0 1em #888;
        box-shadow: 0 0 1em #888;
        border-radius: 4px;
    }

    .corner a {
        border: 2px solid #222;
        color: #222;
        display: block;
        font-size: 1.2em;
        padding: 0.5em 4em;
        text-align: center;
        text-decoration: none;

        border-radius: 5px;
    }

    .corner:hover {
        opacity:0.2;

    }

</style>

<div class="corner">
    <a href="http://localhost:9000/@mockups">
        This is a mockup!
    </a>
</div>

